@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
/*NAVIGATION*/
.sticky-top {
  position: fixed;
  background-color: #f8f9fa;
  height: 110px;
  z-index: 1;
}

.bg-light {
  margin-top: 25px;
  z-index: 1;
}

.actief {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .actief {
    margin-top: 0px;
  }
}

.logo img {
  width: 20%;
}

@media (min-width: 992px) {
  .logo img {
    margin-left: 20px;
  }
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: -50px;
  margin-left: 90px;
}

@media (min-width: 992px) {
  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: -150px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: -150px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .partext {
    height: 700px;
    margin-top: 1000px;
    background-color: white;
  }
}

.mortextext img {
  width: 100%;
  margin-top: 50px;
  height: 360px;
  margin-left: -20px;
}

@media (min-width: 1200px) {
  .mortextext img {
    width: 400px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -450px;
    margin-top: -380px;
  }
}

@media (min-width: 1300px) {
  .mortextext img {
    width: 400px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -450px;
    margin-top: -360px;
  }
}

.mortextext {
  margin-top: 350px;
  padding-left: 55px;
  padding-right: 35px;
  margin-bottom: 200px;
  background-color: white;
}

@media (min-width: 375px) {
  .banner img {
    margin-top: 50px;
  }
}

@media (min-width: 375px) {
  .mortextext {
    margin-top: 300px;
  }
}
@media (min-width: 768px) {
  .mortextext {
    margin-top: 600px;
  }
}

@media (min-width: 1200px) {
  .mortextext {
    margin-top: 64px;
    width: 50%;
    margin-left: 600px;
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .mortextext {
    margin-top: 64px;
    width: 50%;
    margin-left: 750px;
    width: 50%;
  }
}

.mortextext h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (min-width: 300px) {
  .mortextext h1 {
    font-size: 25px;
  }
}

.mortextext p {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-top: -30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}


@media (min-width: 1000px) {
  .mortextext p {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .mortextext p {
    width: 40%;
  }
}

.mortextext a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin-top: 350px;
  color: black;
  border: solid 1px black;
  text-decoration: none;
}

.mortextext a:hover {
  background-color: black;
  color: white;
}

.mortexplaatser {
  margin-top: -30px;
}

.footer {
  color: black;
  font-family: "Overpass", sans-serif;
  font-weight: 100;
  margin-left: 35px;
  background-color: white;
  font-size: 14px;
  margin-top: -170px;
}

@media (min-width: 768px) {
  .footer {
    margin-top: -150px;
  }
}

@media (min-width: 1200px) {
  .footer {
    margin-top: -70px;
    color: black;
    font-family: "Overpass", sans-serif;
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
  }
}

.banner img {
  width: 100%;
  height: 350px;
  position: fixed;
  z-index: -1;
}

@media (min-width: 375px) {
  .banner img {
    height: 260px;
  }
}

@media (min-width: 500px) {
  .banner img {
    height: 400px;
  }
}

@media (min-width: 650px) {
  .banner img {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .banner img {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .banner img {
    height: 900px;
  }
}
/*# sourceMappingURL=style.css.map */